footer {
    grid-column: span 2;
    width: 100%;
    color: var(--dark-grayish-blue);
    margin-top: 100px;
}

footer address {
    margin-top: 10px;
    font-style: normal
}

.attribution a {
    text-decoration: underline;
    color: var(--dark-grayish-blue);
}