@media screen and (max-width: 639px) {
    .menu-icons {
        display: block;
        cursor: pointer;
    }

    #menu {
        display:none;
    }

    #menu.responsive-menu {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        position: fixed;
        background-color: #fff;
        z-index: 2;
        width: 65%;
        height: 100%;
        right: 0;
        top: 0;
        padding: 30px 15px 0 0;
        box-shadow: -40vw 0 rgba(0,0,26,0.5);
    }

    #menu.responsive-menu ul li {
        list-style: none;
        display: block;
        margin-bottom: 40px;
    }
     
    #menu.responsive-menu ul li a {
        font-size: 1.3em;
        color: var(--very-dark-blue);
    }

    #close-icon {
        align-self: flex-end;
        margin-bottom: 100px;
    }
    
}

@media screen and (max-width:759px) {
    body {
        margin: 30px 15px 30px;
    }
}

@media screen and (min-width:760px) {
    body {
        margin: 5% 13% 30px;
    }
}

@media screen and (min-width: 1300px) {
    #headline {
        grid-column: 1;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 300px 211px;
        row-gap: 25px;
    }

    .headline-body {
        grid-column: 2;
        grid-row: 2;
    }

    h1 {
        grid-column: 1;
        grid-row: 2;
    }

    .mh-image {
        background-image: url('../assets/images/image-web-3-desktop.jpg');
        width: 200%;
    }

    #new {
        grid-column: 2;
    }

    #popular {
        display: flex;
        justify-content: space-between;
    }
}