nav {
    display: flex;
    grid-column: span 2;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    padding-left: 40px;
}

.menu-icons {
    display: block;
    cursor: pointer;
}

#menu {
    display: none;
}

/* RESPONSIVE MENU */
#menu.responsive-menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: fixed;
    background-color: #fff;
    z-index: 2;
    width: 65%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 30px 15px 0 0;
    box-shadow: -40vw 0 rgba(0, 0, 26, 0.5);
}

#menu.responsive-menu .nav-item {
    list-style: none;
    display: block;
    margin-bottom: 40px;
}

#menu.responsive-menu .nav-item a {
    font-size: 1.3em;
    color: var(--very-dark-blue);
}

#close-icon {
    align-self: flex-end;
    margin-bottom: 100px;
}

/* FOR DESKTOPS */
@media screen and (min-width: 640px) {
    .menu-icons {
        display: none;
    }

    #menu {
        display: flex
    }

    .nav-item {
        display: inline-block;
    }
}