nav {
    display: flex;
    /* grid-column: span 2; */
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 30px;
}

.responsive-menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: fixed;
    background-color: #fff;
    z-index: 2;
    width: 70%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 30px 15px 0 0;
}

.close-menu {
    align-self: flex-end;
    margin-bottom: 100px;
    cursor: pointer;
}

.responsive-menu li {
   list-style: none;
   display: block;
   margin-bottom: 40px;
}

.responsive-menu a {
    font-size: 1.3em;
    color: var(--very-dark-blue);
}

ul li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    padding-left: 40px;
}

nav li a:hover {
    color: var(--soft-red);
}

 #checkmenu {
    display: none;
} 

.hamburger:hover {
    cursor: pointer;
}