nav {
    display: flex;
    grid-column: span 2;
    justify-content: space-between;
    margin-bottom: 30px;
}

ul li {
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    padding-left: 40px;
}

nav li a:hover {
    color: var(--soft-red);
}

