.responsive-menu {
    display: none;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: fixed;
    background-color: #fff;
    z-index: 2;
    width: 65%;
    height: 100%;
    right: 0;
    top: 0;
    padding: 30px 15px 0 0;
    box-shadow: -40vw 0 rgba(0,0,26,0.5);
}

.responsive-menu li {
   list-style: none;
   display: block;
   margin-bottom: 40px;
}

.responsive-menu a {
    font-size: 1.3em;
    color: var(--very-dark-blue);
}

.menu {
    align-self: center;
    cursor: pointer;
}

.close-menu {
    align-self: flex-end;
    margin-bottom: 100px;
    cursor: pointer;
}