#menu li a:hover, 
.popular-card-header:hover {
    color: var(--soft-red);
}

.headline-body button:hover {
    background-color: var(--very-dark-blue);
}

.new-card-header:hover, footer a:hover {
    color: var(--soft-orange);
}